作業目標:<br>
1. 熟悉分組計算

作業重點: <br>
1. 分組計算也可以加入apply自定義的函數

題目 : 運用下列分數資料分析<br>
1. 找出全年級各科成績最高分與最低分?<br>
2. 找出數學班平均最高的班級?<br>
3. 分析全校女生與男生國文平均差幾分?<br>
score_df = pd.DataFrame([[1,50,80,70,'boy',1],[2,60,45,50,'boy',2],[3,98,43,55,'boy',1],[4,70,69,89,'boy',2],[5,56,79,60,'girl',1],[6,60,68,55,'girl',2],[7,45,70,77,'girl',1],[8,55,77,76,'girl',2],[9,25,57,60,'girl',1],[10,88,40,43,'girl',3],[11,25,60,45,'boy',3],[12,80,60,23,'boy',3],[13,20,90,66,'girl',3],[14,50,50,50,'girl',3],[15,89,67,77,'girl',3]],columns=['student_id','math_score','english_score','chinese_score','sex','class'])

In [4]:
import pandas as pd
score_df = pd.DataFrame([[1,50,80,70,'boy',1], 
              [2,60,45,50,'boy',2],
              [3,98,43,55,'boy',1],
              [4,70,69,89,'boy',2],
              [5,56,79,60,'girl',1],
              [6,60,68,55,'girl',2],
              [7,45,70,77,'girl',1],
              [8,55,77,76,'girl',2],
              [9,25,57,60,'girl',1],
              [10,88,40,43,'girl',3],
              [11,25,60,45,'boy',3],
              [12,80,60,23,'boy',3],
              [13,20,90,66,'girl',3],
              [14,50,50,50,'girl',3],
              [15,89,67,77,'girl',3]],columns=['student_id','math_score','english_score','chinese_score','sex','class'])
sd =score_df.set_index('student_id')
sd

            math_score  english_score  chinese_score   sex  class
student_id
1                   50             80             70   boy      1
2                   60             45             50   boy      2
3                   98             43             55   boy      1
4                   70             69             89   boy      2
5                   56             79             60  girl      1
6                   60             68             55  girl      2
7                   45             70             77  girl      1
8                   55             77             76  girl      2
9                   25             57             60  girl      1
10                  88             40             43  girl      3
11                  25             60             45   boy      3
12                  80             60             23   boy      3
13                  20             90             66  girl      3
14                  50             50             50  girl      3
15                  89             67             77  girl      3

In [7]:
#1.找出全年級各科成績最高分與最低分?
sd.apply([max,min])

     math_score  english_score  chinese_score   sex  class
max          98             90             89  girl      3
min          20             40             23   boy      1

In [12]:
#2.找出數學班平均最高的班級? 2
sd.groupby('class').mean()['math_score']

class
1    54.800000
2    61.250000
3    58.666667
Name: math_score, dtype: float64

In [ ]:
#3.分析全校女生與男生國文平均差幾分?

In [18]:
sdn =sd.groupby('sex').mean()
sdn['chinese_score'].max()- sdn['chinese_score'].min()

7.333333333333329